{% extends "bootstrap/base.html" %}
{% block title %} MPA Liste de courses {% endblock %}
{%block head%}{{super()}}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{%endblock}
{% block navbar %}
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mes Courses</a>
    </div>
  </nav>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Mes listes</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Mes categories</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Mes magasins</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Mes recettes</a></li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  {% block contenu %}
  {% endblock %}
{% endblock %}
